<h3>MEME Wonderland</h3>
<div class="divider"></div>
<br>

<div class="row">
  <% @memes.each do |meme| %>
  <div class="col s4">
    <%= meme.title %><br>
    <%= meme.category %>
    <%= image_tag(meme.image) %>
  </div>
  <% end %>
  </div>
</div>


