
<h3>MEME Wonderland</h3>

<div class="container">
  <% @memes.each do |meme| %>
    <%= meme.title %> <br><br>
    <%= meme.category %> <br><br>
  <div class="image">
    <%= image_tag(meme.image) %>
  </div>
  <% end %>
</div>
