<h4 class="title_text"><%= params[:cat] %></h4>
<div class="divider"></div>
<br>

<div class="row">
  <% @memes.each do |meme| %>
    <div class="col s4 random">
      <div class="card">
        <div class="card-image z-depth-0">
          <%= image_tag(meme.image)%>
        </div>
        <div class="card-action">
          <p class="category_text"><%= meme.category %></p>
          <p class="memetitle_text"><%= meme.title %></p>

        </div>
      </div>
    </div>
  <% end %>
</div>

