<h1>This is the front page</h1>


<p>Search bar:</p>

<p>Categories:</p>

<ul>
<li><a href="#">FCK Yeah!</a></li>
<li><a href="#">I'm awesome</a></li>
<li><a href="#">FCK No</a></li>
<li><a href="#">Leave me alone</a></li>
</ul>

<p>Want to share your wisdom?</p>
<p><a href="#">Post today!</a></p>
