<h1>This is the front page</h1>

<p>Categories:</p>

<ul>
<li><a href="/memes/random">Meme Me a day</a></li>
<br>
<% @categories.each do |cat| %>
  <li><%= link_to cat.name, filtered_path(cat.name) %></li>
<% end %>
<br>
<li><a href="/memes/all">Show me everything</a></li>
</ul>

<p>Want to share your wisdom?</p>
<p><a href="/memes/new">Post today!</a></p>


