
<h4>CATEGORIES:</h4>

<!-- <div class="index_container">
  <ul>
    <div class="random_container" id="random_color">
      <li><a href="/memes/random">Meme Me a day</a></li>
    </div><br>
    <% @categories.each do |cat| %>
    <div class="random_container">
      <li><%= link_to cat.name, filtered_path(cat.name) %></li>
    </div>
    <% end %><br>
    <div class="random_container">
      <li><a href="/memes/all">Show me everything</a></li>
  </ul>
</div> -->


<div class="row">
  <div class="col s12">This div is 12-columns wide</div>
  <div class="col s12">This div is 6-columns wide</div>
  <div class="col s12">This div is 6-columns wide</div>
</div>

<p class="pink-text text-lighten-2">Want to share your wisdom?</p>
<p><%= link_to "Post today!", new_meme_path %></p>
