
<h4 class="title_text">categories:</h4>

<div class="row">
  <div class="col s12"><a href="/memes/random">Meme Me a day</a></div><br>
  <% @categories.each do |cat| %><br>
  <div class="col s12"><%= link_to cat.name, filtered_path(cat.name) %></div><br>
  <% end %><br>
  <div class="col s12"><a href="/memes/all">Show me everything</a></div>
</div>

<p class="pink-text text-lighten-2">Want to share your wisdom?</p>
<p><%= link_to "Post today!", new_meme_path %></p>

