
<h4 class="title_text">A MEME A DAY KEEPS THE DOCTOR AWAY</h4>
<div class="divider"></div>
<br>
<div class="col s12">
  <%= image_tag @show_image.image, class:"random" %>
</div>
<br>
<%= button_to "Refresh", memes_random_path, :method => :get, class:"waves-effect waves-light btn" %>


