<h4>This is show</h4>

<div class="row">
  <div class="col s12">
    <%= @meme.title %><br>
    <%= @meme.category %>
    <%= image_tag(@meme.image) %>
  </div>
  <%= link_to "delete", meme_path, method: :delete, data: { confirm: "Really?" } if current_user %>

</div>

