<h1>This is the front page</h1>


<p>Search bar:</p>

<p>Categories:</p>

<ul>
<li>FCK Yeah!</li>
<li>I'm awesome</li>
<li>FCK No</li>
<li>Leave me alone</li>
</ul>

<p>Want to share your wisdom?</p>
