<!-- def index
  # get params
  # params = fck_yeah
  # @memes = Meme.find(anything that matches params)
end
 -->

<h1>this is the categories show</h1>



<% @names.each do |meme| %>
  <%= meme[:name] %> <br>

<% end %>
